@function em($pixels, $context: $browser-context-em)
  @return calc($pixels / $context) * 1em

@function vw($pixels, $context: $browser-context-px)
  @return calc($pixels * $context) * 1vw

@function px($pixels, $context: $browser-context-px)
  @return calc($pixels * $context) * 1px


/*----------------------- styles ------------------------------ */
/* scrollBar */
::-webkit-scrollbar,
html ::-webkit-scrollbar
  height: em(5)
  width: em(5)


::-webkit-scrollbar-track,
html ::-webkit-scrollbar-track
  background: $milk


::-webkit-scrollbar-thumb,
html ::-webkit-scrollbar-thumb
  background-color: $ored
  border-radius: em(1)

body
  font-size: 1.1111111111111112vw
  background: $white

.page
  //min-height: 100vh
  display: flex
  align-items: flex-start
  justify-content: center

section
  padding-right: em(40)
  padding-left: em(40)

.container
  max-width: em(1440)
  padding: em(50)
  margin: 0

.h-w
  display: flex

h1
  +h1internal($size: em(65))

h2
  +h2($size: em(54))

h2
  +h3($size: em(30))

h3
  +h4($size: em(20))

a
  white-space: nowrap

img
  display: block
  width: 100%
  object-fit: contain

svg, span
  display: inline-block

input
  +body($size: em(24))

.main-step
  height: auto
  width: 100%
  overflow: hidden
  background: $milk
  border-top-right-radius: em(20)
  border-bottom-right-radius: em(20)
  padding: em(30)
  .form-w
    border: em(1) solid #999
    padding: em(10)
    border-radius: em(6)
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: em(32)
    .form-heading-w
      width: 100%
      h2
        margin-bottom: em(8)
    .input-w
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      align-content: center
      flex-wrap: nowrap
      border: em(1) solid #999
      border-radius: em(6)
      width: auto

@include small-d
  ::-webkit-scrollbar,
  html ::-webkit-scrollbar
    height: px(5)
    width: px(5)


  ::-webkit-scrollbar-thumb,
  html ::-webkit-scrollbar-thumb
    border-radius: px(1)

  body
    font-size: 1.1111111111111112vw

  section
    padding-right: px(16)
    padding-left: px(16)

  .container
    max-width: px(375)
    padding: px(0)

  h1
    +h1internal($size: px(30))

  h2
    +h2($size: px(54))

  h2
    +h3($size: px(30))

  h3
    +h4($size: px(20))

  input
    +body($size: px(24))

.main-step
  height: auto
  width: 100%
  overflow: hidden
  background: $milk
  border-top-right-radius: px(5)
  border-bottom-right-radius: px(5)
  padding: px(5)
  .form-w
    border: px(1) solid #999
    padding: px(10)
    border-radius: px(6)
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: px(32)
    .form-heading-w
      width: 100%
      h2
        margin-bottom: px(8)
    .input-w
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      align-content: center
      flex-wrap: nowrap
      border: px(1) solid #999
      border-radius: px(6)
      width: auto
