@import 'mixins'

@function em($pixels, $context: $browser-context-em)
  @return calc($pixels / $context) * 1em

@function vw($pixels, $context: $browser-context-px)
  @return calc($pixels * $context) * 1vw

@function px($pixels, $context: $browser-context-px)
  @return calc($pixels * $context) * 1px


/*----------------------- styles ------------------------------ */
/* scrollBar */
::-webkit-scrollbar,
html ::-webkit-scrollbar
  height: em(5)
  width: em(5)


::-webkit-scrollbar-track,
html ::-webkit-scrollbar-track
  background: $milk


::-webkit-scrollbar-thumb,
html ::-webkit-scrollbar-thumb
  background-color: $ored
  border-radius: em(1)

body
  font-size: 1.1111111111111112vw
  background: $white

.page
  width: 100%
  align-items: center
  flex-direction: column
  flex-wrap: nowrap
  display: flex
  justify-content: center

section
  width: 100%

.container
  overflow: hidden
  padding-right: em(40)
  padding-left: em(40)
  margin: 0

.h-w
  display: flex

h1
  +h1internal($size: em(65))

h2
  +h2($size: em(54))

h3
  +h3($size: em(30))

h4
  +h4($size: em(20))

a
  white-space: nowrap

li
  +body($size: px(24))

img
  display: block
  width: 100%
  object-fit: contain

svg, span, label
  display: inline-block
  text-align: center

input
  +body($size: em(24))

.flex-row
  display: flex
  flex-direction: row
  align-items: flex-start
  flex-wrap: nowrap


.main-step
  height: auto
  width: auto
  overflow: hidden
  padding: em(2) em(2) em(2) em(2)
  margin: em(16) auto em(16) auto
  border: em(1) solid #999
  border-radius: em(6)
  .form-w
    border: em(1) solid #999
    border-radius: em(6)
    padding: em(10)
    display: flex
    flex-direction: column
    align-items: center
    margin: em(16) em(0) em(16) em(0)
    .form-heading-w
      width: 100%
      h2
        margin-bottom: em(8)
    .input-w
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      align-content: center
      flex-wrap: nowrap
      border: em(1) solid #999
      border-radius: em(6)
      width: auto
  .flex-row
    display: flex
    flex-direction: row
    align-items: flex-start
    flex-wrap: nowrap

@include small-d
  ::-webkit-scrollbar,
  html ::-webkit-scrollbar
    height: px(5)
    width: px(5)


  ::-webkit-scrollbar-thumb,
  html ::-webkit-scrollbar-thumb
    border-radius: px(1)

  body
    font-size: 1.1111111111111112vw

  .page
    width: 100%
    align-items: stretch
    flex-direction: column
    flex-wrap: nowrap
    display: flex
    justify-content: center

  section
    width: 100%

  .container
    padding-right: px(16)
    padding-left: px(16)
    overflow: hidden
    display: flex
    flex-direction: column
    align-content: center
    justify-content: center
    align-items: center
    flex-wrap: nowrap

  h1
    +h1internal($size: px(32))

  h2
    +h2($size: px(54))

  h3
    +h3($size: px(18))

  h4
    +h4($size: px(16))

  li
    +body($size: px(16))

  input
    +body($size: px(24))

  .main-step
    width: 100%
    padding: px(2) px(2) px(2) px(2)
    margin: px(16) auto px(16) auto
    border: px(1) solid #999
    border-radius: px(6)
    .form-w
      justify-content: center
      align-items: center
      align-content: center
      border: px(1) solid #999
      border-radius: px(6)
      padding: px(5)
      margin: px(16) auto px(16) auto
      .form-heading-w
        width: 100%
        h2
          +h3($size: px(12))
          margin-bottom: px(8)
        p
          +body($size: px(10))
      .input-w
        border: px(1) solid #999
        border-radius: px(6)
        width: auto
